{% extends 'base.html' %}


{% block titleblock %}
What's Up Doc
{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row"> 
      <div style='text-align: center;' class="col-md-12 col-xs-12"> 
      <div style='font-size:23px; padding-top: 20px;'> <i> What's Up Doc aims to increase transparency and trust between patients and their physicians. </i></div>
    </div>
    </div>

    <div class="row"> 
      <div style='padding-top: 40px;font-size:20px;'class="col-md-5 col-xs-5 col-md-offset-1 "> 
      Our Mission
     
        <ul class='about_section'>
          <li>We believe patients have the right to educate themselves before any medical consultation and should be able to question their doctor's prescription. This includes knowledge of any relationships with specific Pharmaceutical Companies.</li>
          <li>At the same time we do not want to discourage Doctors from seeking education of advanced medical treatments, new prescription drugs, or innovative medical technology. What's up Doc is meant to provide transparency between doctors and patients so Doctor's have the opportunity to put their associations in context.</li>
          <li>Research from  <a href="<a href: https://static.propublica.org/projects/d4d/20160317-matching-industry-payments.pdf?22">ProPublica </a> has indeed found that doctors who receive payments from the medical industry do tend to prescribe drugs differently than their colleagues who don’t. "Doctors who got money from drug and device makers prescribed a higher percentage of brand-name drugs overall than doctors who didn’t." </li>
          <!-- <li>Note the payments information provided by this website only include the year 2015. </li>  -->
        </ul>
      </div>

      <div style='padding-top: 70px; 'class="col-md-4 col-xs-4 col-md-offset-1  "> 
        <iframe src="https://www.youtube.com/embed/YQZ2UeOTO3I"
           width="450" height="280" frameborder="0" allowfullscreen></iframe>
       <!-- <iframe width="200" height="200"
      src="https://www.youtube.com/embed/YQZ2UeOTO3I">
      </iframe>  -->

  
      </div>
    </div>
        
    <div class="row"> 
      <div style='padding-top: 40px; font-size:20px;' class="col-md-5 col-xs-5 col-md-offset-1">  What's Up Doc allows Users to 
              <ul class='about_section'>
                <li>Look up their doctors and see how much they were compensated.</li>
                <li>Breaks down the compensation by Pharmaceutical Company.</li>
                <li>Compare searched Doctor's compensation with state average.</li>
                <li>Look up any yelp reviews if available.</li>
                <li>Provides a list of local Doctors who received less compensation.</li> 
              </ul>
            </div>
      <div style='padding-top: 40px; font-size:20px;' class="col-md-4 col-xs-4 col-md-offset-1"> Behind What's Up Doc  
        <ul style='font-size:15px;'>
          <li> <a href="https://www.linkedin.com/in/salomechamma">Salomé Chamma</a>, a software engineer, is interested in working on meaningful projects that have social value.</li>
          <li>When watching one of her favorites shows, Last Week Tonight by John Oliver, Salomé learned about the Government database that tracks payments made by pharmaceutical companies to doctors and is available to anyone. </li>
          <li> Salomé decided to use the data given by the Center for Medicaid and Medicare Services and provide an accessible way for her family, friends and everyone to become more informed.</li>
        </ul>
      </div>
    </div>    
   
     
        
</div>
  
<!-- 
<link rel="stylesheet" href="/static/styles_sheet.css">
{% endblock %}