<!doctype html>
<html>
<head>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <title>What's Up Doc</title>
    <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">

    </script>
    <script src="https://code.jquery.com/jquery.js"></script>

</head>
<body>


</span>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>
<span>
    <form method="get" action="/sign_in">
        <button type="submit">Sign-in</button>
    </form>

    <form method="get" action="/log_in">
        <button type="submit">Log-in</button>
    </form>

    <form method="get" action="/log_out">
        <button type="submit">Log-out</button>
    </form>

    {% if  session.get('user_id') %} 
    <form method="get" action="/user_page">
        <button type="submit">My Page</button>
    </form>
    {% endif %}
</html>