<!doctype html>
<html>
<head>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <!-- <title>What's Up Doc</title> -->
        <title>{% block titleblock %} {% endblock %}</title>
        <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


        {% block headblock %}{% endblock %}
          <link rel="stylesheet"
        href="/static/css/styles_sheet.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet"> 
</head>
<body>



<!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
              <!--   <a class="navbar-brand" href="#"><img  style="float:left" src="static/img/logo.jpeg" alt="logo"/></a> -->
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">What's Up Doc ? </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/sign_in">Sign-up</a></li>
                    {% if session.get('user_id') %}
                    <li><a href="/log_out">Logout</a></li>              
                    {% else %}
                    <li><a href="/log_in">Login</a></li>
                    {% endif %}
                    <li><a href="/user_page">My account</a></li>
                </ul>
            </div>
        </div>
    </nav>

<script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">

    </script>
    <script src="https://code.jquery.com/jquery.js"></script>
   

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/
      3.3.7/js/bootstrap.min.js"></script>
   
</html>