<!doctype html>
<html>
<head>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <title>What's Up Doc</title>
    <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">

    </script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

       
     <link rel="stylesheet"
        href="/static/css/styles_sheet.css">
</head>
<body>


</span>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}
  
{% block content %}
    Put your body here.
{% endblock %}

</body>

</html>