{% extends 'base.html' %}
{% block content %}


  <h2>Charts</h2>


<!-- <div class="doc_pharm-chart">
  <canvas id="donutChart"></canvas>
  <div id="docLegend" class="doc_pharmlegend"></div>
<div> -->

<div class="melon-chart">
    <canvas id="donutChart"></canvas>
    <div id="donutLegend" class="chart-legend"></div>
  </div>

<script>

var options = { responsive: true };

var ctx_donut = $("#donutChart").get(0).getContext("2d");

$.get("/melon-types.json", function (data) {
    var myDonutChart = new Chart(ctx_donut, {
                                            type: 'doughnut',
                                            data: data,
                                            options: options
                                          });
    $('#donutLegend').html(myDonutChart.generateLegend());
});

</script>
{% endblock %}
