{% extends 'base.html' %}

{% block titleblock %}
   What's up doc?
{% endblock %}

{% block headblock %}
<link href="img5b6.jpeg" rel="preload">
{% endblock %}

{% block content %}
<body class="homepage">


 <div class="container-fluid">
    <div class="row"> 
    <br> <br> <br> <br> <br> <br> <br> <br> <br><br> <br> 
    </div>
    <div id="homepblock">
    <div  class="row"> 
        <div class="col-md-10 col-xs-10 col-md-offset-1"> 
            <h2 id='search'>Find Your Doctor’s Payments</h2> 
        </div>
    </div>
    <div class="row"> 
        <div id='formsearch' class="col-md-6 col-xs-6 col-md-offset-3"> 
         <form class="form-inline" action="/results_list">
                 <input id="inp" style="height:35px; width: 140px; font-size:12pt;" type="text" style="text-transform:capitalize" class="form-control"
                id="exampleInputName2" placeholder="First Name" name="firstname" required>
                <input id="inp" style="height:35px;width: 140px;font-size:12pt;" type="text"  style="text-transform:capitalize;" placeholder="Last Name" class="form-control" id="exampleInputName" name="lastname" required>
                <input id= 'search_but' style="max height:35px;font-size:12pt; vertical-align:center;" type="submit" class="btn btn-primary" value="Search">
         </form>
        </div>
    </div>
</div>
</div>

</body>





  

{% endblock %}