{% extends 'base.html' %}
{% block content %}

    <h2>Log-in</h2>
<form action='/log_in' method ="POST">
 Email: <input type="text" name="email">
 Password: <input type="password" name="password">

 <input type="submit" value="Log in!">
</form>


<form method="get" action="/">
<!--     <button type="submit"> Back to Search</button> -->

<input id= 'search_but' style="max height:35px;font-size:12pt; vertical-align:center;" type="submit" class="btn btn-primary" value="Back to Search">
</form>

<link rel="stylesheet" href="static/styles_sheet.css">
{% endblock %}