{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row"> 
        <div class="col-md-6 col-xs-6 "> 

    <h3>Login</h3>

<form action='/log_in' method ="POST">
 Email: <input type="text" name="email">
 Password: <input type="password" name="password">

 <form method="get" action="/">
<!--     <button type="submit"> Back to Search</button> -->

<input id= 'search_but' style="max height:35px;font-size:12pt; vertical-align:center;" type="submit" class="btn btn-primary" value="Login!">
</form>


</div>
<div class="col-md-6 col-xs-6 "> 
     <img src="/static/css/img4BIS.jpeg" alt="work" height="300"> 
</div>
</div>


<link rel="stylesheet" href="static/styles_sheet.css">
{% endblock %}