{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row"> 
        <div class="col-md-6 col-xs-6 "> 

            <h3>You are not logged-in</h3>
        </div>
    </div>
    <div class="row">
            <div class="col-md-6 col-xs-6 "> 
              <form method="get" action="/log_in">
                <input id= 'search_but' style="max height:35px;font-size:12pt; vertical-align:center;" type="submit" class="btn btn-primary" value="Login">
              </form>
            </div>
    </div>
</div>



{% endblock %}