{% extends 'base.html' %}
{% block content %}



  <h2>Doctor Summary Profile</h2>
 
<div>
    <h4>  {{ session['info_doc']['first_name'] }} {{ session['info_doc']['last_name'] }} <br>
    {% if   session['info_doc']['rating']  > 0 %} 
        Yelp Rating: {{ session['info_doc']['rating'] }}/5  -  Access the doctor Yelp page
        <a href= {{ session['info_doc']['url'] }} >here</a></h4><br>
    {% endif %}
    <br>
    <div id='nb_likes'>
    Number of total Likes : {{ session['likes'] }} 
    </div>

    <div id='like_section'>
    {% if  session.get('user_id') %} 
        {% if liked_check is none %}
            <button id="like">Like this doctor</button>
            <span id="like-message"></span>
        {% else %}
            <button id="unlike">Unlike this doctor</button>
            <span id="unlike-message"></span>
        {% endif %}
    {% else %}
    </div>
    - Login/Sign-in to vote!
    {% endif %}
    <br>
     Total payments received from pharmaceutical companies in 2015: ${{ session['info_doc']['total_received'] }} </h4> <br>

</div>
<!-- info related to doctor that appear on top of the page -->
<!-- change to sue the SESSION here instead of the perso_doc dictionnary passed as parameters via route -->
<div>
    {{ perso_doc_info['short_specialty'] }} <br>
    {{ perso_doc_info['street_address'] }} {{ perso_doc_info['zipcode' ] }} {{ perso_doc_info['city' ] }} 

</div>

<div>
    <!-- replace with a pie chart with JS chart or plython tool -->
    <br><b>In 2015: </b> 
    <ul>
        {% for name, payment in pay_breakdown %}

            <li> {{ name }} paid a total of  ${{ payment }} - {{ (payment*100/session['info_doc']['total_received'])|round|int }}% of total payments received </li>
        {% endfor %}
    </ul>
</div>
<!-- button to access other pages -->
<span>
    <form method="get" action="/ind_comparison/{{ p_id }}/{{ session['info_doc']['specialty'] }}/{{ session['info_doc']['state'] }}">
    <button type="submit">Compare with peers</button>
    </form>


    <form method="get" action="/doctor_like">
    <button type="submit">Access Doctor Ratings</button>
    </form>

    <form method="get" action="/">
    <button type="submit">New Search</button>
    </form>
</span>



<div class="summary-chart" style="height: 300px; width: 50%;">
    <canvas id="docChart" height:'256' width:'256'></canvas>
    <div id="docLegend" class="chart-legend"></div>
  </div>

<script>

// Like part
    "use strict";

    function handleUpvote(evt) {
        $.post('/like', function (data) {
            $('#like-message').text('You liked this doctor.');
            $('#nb_likes').empty();
            $('#nb_likes').append('Number of total Likes: ' +  data['like']);
            $('#like_section').empty();
            $('#like_section').append('<button id="unlike">Unlike this doctor</button><span id="unlike-message"></span>')
            $('#unlike').on('click', handleDownVote);

            // $('#like').attr('disabled', true);
            // 
            // change #nb likes to session['nb_likes']
            // hide like
            // show unvote button
        });
    }

    $('#like').on('click', handleUpvote);


// Unike part

    function handleDownVote(evt) {
        $.post('/unlike', function (data) {
        $('#unlike-message').text('You unliked this doctor.');
        $('#nb_likes').empty();
        $('#nb_likes').append('Number of total Likes: ' +  data['unlike']);
        $('#like_section').empty();
        $('#like_section').append('<button id="like">Like this doctor</button><span id="like-message"></span>')
        $('#like').on('click', handleUpvote);
      
            // $('#unlike').attr('disabled', true);
            // grab id
        });
    }

    $('#unlike').on('click', handleDownVote);

// Chart section 
var options = { responsive: true, maintainAspectRatio: true,
       
                title: {            
                    display: true,
                    text: 'Payments received by this doctor'
                },
                legend: {
                display: true},   
                tooltips: { 
                    callbacks: {
                    label: function(tooltipItem, data) {
                    var allData = data.datasets[tooltipItem.datasetIndex].data;
                    var tooltipLabel = data.labels[tooltipItem.index];
                    var tooltipData = allData[tooltipItem.index];
                    var total = 0;
                    for (var i in allData) {
                        total += allData[i];
                                            }
                    var tooltipPercentage = Math.round((tooltipData / total) * 100);
                    return tooltipLabel + ': $' + tooltipData + ' (' + tooltipPercentage + '%)';
                                                        }
                             }
                    // enabled: true,
                    // mode: 'x-axis'
                },
                animation:{animateRotate: true, animateScale: true} 
                };


var ctx_donut = $("#docChart").get(0).getContext("2d");

$.get("/doc_info.json", function (data) {
    var mydocChart = new Chart(ctx_donut, {
                                            type: 'doughnut',
                                            data: data,
                                            options: options,
                                            });

});

</script>

{% endblock %}
