{% extends 'base2.html' %}

{% block headblock %}


  
{% endblock %}

{% block content %}

  <h3>Here are some information about Dr {{ session['info_doc']['first_name'] }} 
    {{ session['info_doc']['last_name'] }}</h3>
<div>
    {{ session['info_doc']['short_specialty'] }} 
    {{ session['info_doc']['street_address'] }} {{ session['info_doc']['zipcode' ] }} {{ session['info_doc']['city' ] }} 


</div>
    <h4 style="font-size:32pt; font-family: 'Noto Sans', sans-serif;">  
    {% if   session['info_doc']['rating']  > 0 %} 
        Yelp Rating: {{ session['info_doc']['rating'] }}/5  -  Access the doctor Yelp page
        <a href= {{ session['info_doc']['url'] }} >here</a></h4><br>
    {% endif %}
    
    </h4>
     Total payments received from pharmaceutical companies in 2015: ${{ session['info_doc']['total_received'] }} </h4> 


<!-- info related to doctor that appear on top of the page -->
<!-- change to sue the SESSION here instead of the perso_doc dictionnary passed as parameters via route -->



    <!-- replace with a pie chart with JS chart or plython tool -->
    <br><b>In 2015: </b> 
    <ul>
        {% for name, payment in session['pay_breakdown'] %}

            <li> {{ name }} paid a total of  ${{ payment }} - {{ (payment*100/session['info_doc']['total_received'])|round|int }}% of total payments received </li>
        {% endfor %}
    </ul>

 




  
<!-- <img src="static/img/map.png" height="392" width="392"></img> -->



{% endblock %}
