{% extends 'base.html' %}

{% block titleblock %}
What's Up Doc
{% endblock %}

{% block headblock %}

    <style>
        #map {
          height: 150px;
          width: 100%;


        }
        .cap {
            text-transform: capitalize;
        }

    </style>
    <title>Simple Map</title>   <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
{% endblock %}

{% block  content %}
 

<div class="container-fluid">
    <div class="row"> 
        <div class="col-md-6 col-xs-6 "> 
            <h2 class='vertical-align'>  {{ session['info_doc']['first_name'] }} {{ session['info_doc']['last_name'] }} 
            </h2>
            
        </div> 

        <div class="col-md-4 col-xs-4 col-md-offset-2" style='padding-bottom:10px;'> 
            
          <!--   <span class='info_doc'>  -->
            <b> {{ session['info_doc']['street_address'] }} {{ session['info_doc']['zipcode'] }} {{ session['info_doc']['city'] }} </b> <br>
           
           
           <b> {{ session['info_doc']['short_specialty'] }} </b> <br>
       
            {% if   session['info_doc']['rating']  > 0 %} 
            <a href= {{ session['info_doc']['url'] }} ><img src="/static/img/Yelp_Logo.png" alt="Yelp logo" style="width:15%;"></a> <span>  </span><span class="stars">{{ session['info_doc']['rating'] }}</span>
            {% else %}
            <b>No Existing Yelp page.</b>
            {% endif %} 
           
           <!--  </span> -->
        </div>
    </div>

    <div class="row"> 
        <div class="col-md-12 col-xs-12" style='padding:0;'> 
            <div id="map"></div>
        </div>
    </div>


<div class="row" id='total_payment'> 
<div class="col-md-offset-2 col-md-6 col-xs-6">             2015 Total Payments <br> 
    <b>{{ "${:,.0f}".format(session['info_doc']['total_received']) }} </b><br></div></div>
<div class="row"> </div>
<!-- <div class="second-section"> -->
    <div class="row"> 
       
        <div class="col-md-offset-1  col-md-9 col-xs-9">
            <div class="summary-chart" style="height: 200px; width: 60%;">
                <canvas id="docChart"></canvas>
                <div id="docLegend" class="chart-legend"></div> 
            </div>
        </div>

        <div class=" col-md-2 col-xs-2 "> 
            <div class="small-section"> 
                <form id="sendForm" action="/send_email" method="POST">
                <b>Email Dr. <span class='cap'>{{ session['info_doc']['last_name']|lower }} </span>'s information: </b><br>
                <span id ="emailInput"></span><input id='emailAddress' type="text" placeholder="Enter email address" name="emailAddress"/>
                <input type="submit" value="Send"/> <br>
                </form>
                <br>
                <span id='nb_likes'> <b> #{{ session['likes'] }} Likes </b> </span>
                <span id='like_section'>
                    {% if  session.get('user_id') %} 
                    {% if liked_check is none %}

                    
                        <button id="like" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like
                            </button>
                        <span id="like-message"></span>
                    {% else %}
                        <button id="unlike" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-thumbs-down"></span> Unlike
                            </button>
                        <span id="unlike-message"></span>
                    {% endif %}
                    {% else %}
                    - Login to vote!
                    {% endif %}
                </span>
                <br><br>
           
                
            </div>
            
        </div>
        



    </div>

    <div class="row">
        <div id='nextbtn' class="col-md-offset-10  col-md-1 col-xs-1">
             <a type="button" class="btn btn-primary" style="color:white; position:relative; right:12px;" href="/ind_comparison/{{ session['info_doc']['p_id'] }}/{{ session['info_doc']['specialty'] }}/{{ session['info_doc']['state'] }}/{{ session['info_doc']['city'] }}">
                Compare with State Average</a>
        </div>

        </div>

</div>
<!-- <button type="button" class="btn btn-primary">Primary</button> -->



<script>

   "use strict";
// Yelp stars section
$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;
        // Create stars holder
        var $span = $('<span />').width(size);
        // Replace the numerical value with stars
        $(this).html($span);
    });
}
$(function() {
    $('span.stars').stars();
});

 


    function sendEmail(evt) {
        evt.preventDefault();
          var formInputs = {
        'emailAddress': $("#emailAddress").val()
        };

        $.post('/send_email', formInputs ,function (data){
        alert("The email has been sent!");
        $('#emailAddress').val('');
        });
    }
    $('#sendForm').on('submit', sendEmail);
// Like part  
    function handleUpvote(evt) {
        $.post('/like', function (data) {
            $('#like-message').text('You liked this doctor.');
            $('#nb_likes').empty();
            $('#nb_likes').append('<b> #' +  data['like'] + ' Likes</b> ');
            $('#like_section').empty();
            $('#like_section').append('<button id="unlike" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span>Unike</button><span id="unlike-message"></span>');
            $('#unlike').on('click', handleDownVote);

        });
    }

    $('#like').on('click', handleUpvote);

                            

// Unike part

    function handleDownVote(evt) {
        $.post('/unlike', function (data) {
        $('#unlike-message').text('You unliked this doctor.');
        $('#nb_likes').empty();
        $('#nb_likes').append('<b> #' +  data['unlike'] + ' Likes </b> ');
        $('#like_section').empty();
        $('#like_section').append('<button id="like" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span>Like</button><span id="like-message"></span>');
        $('#like').on('click', handleUpvote);
      
        });
    }

    $('#unlike').on('click', handleDownVote);

// Pie Chart section 
var options = { responsive: true, maintainAspectRatio: true,
       
                
                legend: {
                display: true,
                position:'left',
                labels: {
                padding: 20,
                fontSize:14,
                usePointStyle:true,
            }},   
                tooltips: { 
                    bodyFontSize: 18,
                    callbacks: {
                    label: function(tooltipItem, data) {
                    var allData = data.datasets[tooltipItem.datasetIndex].data;
                    var tooltipLabel = data.labels[tooltipItem.index];
                    var tooltipData = allData[tooltipItem.index];
                    var total = 0;
                    for (var i in allData) {
                        total += allData[i];
                                            }
                    var tooltipPercentage = Math.round((tooltipData / total) * 100);
                    return tooltipLabel + ': $' + tooltipData + ' (' + tooltipPercentage + '%)';
                                                        }
                             }
                    // enabled: true,
                    // mode: 'x-axis'
                },
                animation:{animateRotate: true, animateScale: true} 
                };


var ctx_donut = $("#docChart").get(0).getContext("2d");

$.get("/doc_info.json", function (data) {
    var mydocChart = new Chart(ctx_donut, {
                                            type: 'doughnut',
                                            data: data,
                                            options: options,
                                        
                                            });


// change DOM
});


// Google Map section
    
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{ lat }}, lng: {{ lng }}},
          zoom: 14
        });
        // var marker = new google.maps.Marker({
        //   position: {lat: {{ lat }}, lng: {{ lng }}},
        //   map: map,
        //   title: 'Doctor'
        //  });
        
        // Setting options for carrot icon (size etc..)
        var image = {
            url: 'http://bsccongress.com/wp-content/uploads/2016/06/what-s-up-doc-clip-art.png',
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(45, 45)
        };

        // Create carrot icon and specify its position
        var marker2 = new google.maps.Marker({
            position: { lat: {{ lat }}, lng: {{ lng }} },
            icon: image,
            map: map,
            title: '{{ title_address }}'
            // scaledSize : new google.maps.Size(10, 20)
          });
        };


</script>

 <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&callback=initMap">
    </script>
   

{% endblock %}
