{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
        <div class="row"> 
          <div class="col-md-6 col-xs-5 "> 
                    <h3>{{ fname }} {{ lname }} - {{ email }} </h3><br>
              <div class="well spaced" style="width:80%">
        
              {% if nb_vote == 0 %}
                <b>You did not like any doctors. </b><br>
                Vote for doctors and find the list of your preferred doctor on your page!
              {% else %}
                <b>Total Number of Doctors liked: {{ nb_vote }}</b><br>
              Preferred doctors:
                {% for like in likes %}
                  <ul>
                    <!-- since doctor_id is on database because user voter for him/her, I can access it and return its page -->
                    <li> <a href="/doc_summary/{{ like.doctor.doctor_id }}">{{ like.doctor.first_name }} {{ like.doctor.last_name }} </li>
                  </ul>
                {% endfor %}
            {% endif %}
            </div>
          </div>
      
          <div class="col-md-6 col-xs-6  "> 
     <img src="/static/css/img12.jpeg" alt="work" height="300"> 
      </div>
 </div>
   
    <div class="row">
            <div class="col-md-6 col-xs-6 "> 
              <form method="get" action="/">
                <input id= 'search_but' style="max height:35px;font-size:12pt; vertical-align:center;" type="submit" class="btn btn-primary" value="Search">
              </form>
            </div>
    </div>

</div>
{% endblock %}